{% extends 'base.html' %}

{% block title %} Detailed Equipment{% endblock title %}

{% block content %}
	<a href="{% url 'home' %}">Home</a>
	<br>
	<h3>Package Number:	{{ equipment.package_number }} </h3>
	<br>
	<h3>Total {{ equipment.item_name }}s:	{{ equipment.qty_per_package }} </h3>
	<br>
	<h3>Currently Used: {{ total_used }}</h3>
	<br>
	<h3>Currently Available: {{ total_available }}</h3>
	<br>
	<h3>Total Disposed: {{ total_disposed }}</h3>

	
	<h4>Detailed breakdown of currently being used</h4>
	{% for use in total_used_equipment %}
	<hr>
	
		<ul>
			<li>{{ use.date_being_used }} - {{ use.qty_to_be_used }}
				 <a href="{% url 'dispose_equipment' use.pk %}" class="btn btn-danger"><h4>Dispose</h4></a></li>
		</ul>
	{% endfor %}
	<br>
	
	<h4>Detailed breakdown of when equipment was disposed</h4>

	{% for dis in disposed %}
	<hr>
		<ul>
			<li>
				<h4>{{ dis.date_disposed}} - {{ dis.qty_to_be_disposed }}</h4>
			</li>
		</ul>
	{% endfor %}
	<br>
	
	<h4>Detailed breakdown of equipment that was used</h4>

	{% for not_used in not_used_equipment %}
	<hr>
	<ul>
		<li>
					<h4>{{ not_used.date_being_used }} - {{ not_used.qty_to_be_used }}</h4>

		</li>
	</ul>
	{% endfor %}

{% endblock content %}