<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Detailed Equipment Page</title>
</head>
<body>
	
	Package Number:	{{ equipment.package_number }} 
	<br>
	Total {{ equipment.item_name }}s:	{{ equipment.qty_per_package }} 
	<br>
	Currently Used: {{ total_used }}
	<br>
	Currently Available: {{ total_available }}
	<br>
	Total Disposed: {{ total_disposed }}

	<hr>
	Detailed breakdown of currently being used
	{% for use in total_used_equipment %}
		<ul>
			<li>{{ use.date_being_used }} - {{ use.qty_to_be_used }}
				Used id: {{ use.pk }} <a href="{% url 'dispose_equipment' use.pk %}">Dispose</a></li>
		</ul>
	{% endfor %}
	<br>
	<hr>
	Detailed breakdown of when equipment was disposed
	{% for dis in disposed %}
		<ul>
			<li>
				{{ dis.date_disposed}} - {{ dis.qty_to_be_disposed }}
			</li>
		</ul>
	{% endfor %}
	<br>
	<hr>
	Detailed breakdown of equipment that was used
	{% for not_used in not_used_equipment %}
	<ul>
		<li>
					{{ not_used.date_being_used }} - {{ not_used.qty_to_be_used }}

		</li>
	</ul>
	{% endfor %}

	
</body>
</html>